<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> and setup</td> </tr>
      <tr> <td>09:00</td>  <td>Selecting data</td> </tr>
      <tr> <td>09:15</td>  <td>Sorting and removing duplicates</td> </tr>
      <tr> <td>09:35</td>  <td>Filtering</td> </tr>
      <tr> <td>09:55</td>  <td>Calculating new values</td> </tr>
      <tr> <td>10:05</td>  <td>Missing data</td> </tr>
      <tr> <td>10:35</td>  <td>Aggregation</td> </tr>
      <tr> <td>10:55</td>  <td>Combining data</td> </tr>
      <tr> <td>11:35</td>  <td>Data hygiene</td> </tr>
      <tr> <td>12:05</td>  <td>Creating and modifying data</td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
