<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> and setup</td> </tr>
      <tr> <td>09:00</td>  <td><a href="./01-select/">Selecting data</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="./02-sort-dup/">Sorting and removing duplicates</a></td> </tr>
      <tr> <td>09:35</td>  <td><a href="./03-filter/">Filtering</a></td> </tr>
      <tr> <td>09:55</td>  <td><a href="./04-calc/">Calculating new values</a></td> </tr>
      <tr> <td>10:05</td>  <td><a href="./05-null/">Missing data</a></td> </tr>
      <tr> <td>10:35</td>  <td><a href="./06-agg/">Aggregation</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href="./07-join/">Combining data</a></td> </tr>
      <tr> <td>11:35</td>  <td><a href="./08-hygiene/">Data hygiene</a></td> </tr>
      <tr> <td>12:05</td>  <td><a href="./09-create/">Creating and modifying data</a></td> </tr>

      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
